@import 'variables';

footer{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $negro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    .logo-footer{
        background-color: $negro;
        padding-left: 10%;
        padding-right: 50px;
        img{
            background-color: $negro;
            height: 75px;
        }
    }
    .texto-footer{
        padding-right: 10%;
        background-color: $negro;
        .texto-principal-footer{
            background-color: $negro;
            padding-bottom: 20px;
            p{
                background-color: $negro;
                color: $blanco;
            }
        }
        .textos-columnas-footer{
            background-color: $negro;
            display: flex;
            justify-content: center;
            align-items: center;
            .columna{
                background-color: $negro;
                padding-left: 20px;
                padding-right: 20px;
                p{
                    background-color: $negro;
                    color: $blanco;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 575px){
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo-footer{
            padding-bottom: 20px;
        }
        .texto-footer{
            padding-left: 10%;
            width: 100%;
        }
    }
}