@import 'variables', 'generales', 'menu', 'footer';

section.articulo-detallado{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    h1{
        font-size: 4rem;
        padding-bottom: 20px;
    }
    h2{
        font-size: 1rem;
        color: $gris-oscuro;
    }
    h3{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        margin-left: -30px;
        margin-bottom: 10px;
        width: 650px;
        font-size: 2rem;
        color: $blanco;
        border-radius: 0px 25px 25px 0px;
        background-color: $negro;
    }
    h4{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        margin-left: -30px;
        margin-bottom: 5px;
        width: 320px;
        font-size: 1.2rem;
        color: $blanco;
        border-radius: 0px 25px 25px 0px;
        background-color: $azul;
    }
    p{
        padding-bottom: 20px;
        width: 100%;
    }
    img.captura-juego{
        width: 100%;
        margin-bottom: 30px;
    }
    img.tipografia-numeros{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img.tipos-tipografias{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img.licencias-tipografias{
        width: 100%;
        margin-top: 20px;
    }
    .juego{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .boton-juego{
            width: 283px;
            height: 40px;
            background: $azul;
            color: $blanco;
            padding: 10px 40px;
            border: none;
            border-radius: 25px;
            margin-bottom: 65px;
            cursor: pointer;
            transition: ease-in-out .15s;
            &:hover{
                background: $negro;
                color: $blanco;
            }
        }
    }

    .derecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        h3{
            text-align: right;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 30px;
            margin-right: -30px;
            margin-bottom: 10px;
            width: 650px;
            font-size: 2rem;
            color: $blanco;
            border-radius: 25px 0px 0px 25px;
            background-color: $negro;
        }
        h4{
            text-align: right;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 30px;
            margin-right: -30px;
            width: 320px;
            font-size: 1.2rem;
            color: $blanco;
            border-radius: 25px 0px 0px 25px;
            background-color: $azul;
        }
        p{
            text-align: justify;
        }
    }
}

@media (max-width: 990px){
    section.articulo-detallado{
        padding-left: 10%;
        padding-right: 10%;
        h3{
            margin-left: 0;
        }
        h4{
            margin-left: 0;
        }
        p{
            width: 100%;
        }
        .derecha{
            h3{
                margin-right: 0;
            }
            h4{
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 815px){
    section.articulo-detallado{
        h1{
            font-size: 2.5rem;
        }
        h3{
            width: 500px;
        }
        .derecha{
            h3{
                width: 500px;
            }
        }
    }
}

@media (max-width: 620px){
    section.articulo-detallado{
        h3{
            width: 450px;
        }
        .derecha{
            h3{
                width: 450px;
            }
        }
    }
}

@media (max-width: 560px){
    section.articulo-detallado{
        h3{
            width: 400px;
            font-size: 1.8rem;
        }
        h4{
            font-size: 1rem;
        }
        .derecha{
            h3{
                width: 400px;
                font-size: 1.8rem;
            }
            h4{
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 500px){
    section.articulo-detallado{
        h3{
            width: 350px;
            font-size: 1.6rem;
        }
        .derecha{
            h3{
                width: 350px;
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 440px){
    section.articulo-detallado{
        h3{
            width: 300px;
            font-size: 1.2rem;
        }
        h4{
            width: 275px;
        }
        .derecha{
            h3{
                width: 300px;
                font-size: 1.2rem;
            }
            h4{
                width: 275px;
            }
        }
    }
}