* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f2f2f2;
}

h1 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
}

h3 {
  font-family: 'Abhaya Libre', serif;
  font-weight: 700;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 650;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: justify;
}

.boton1 {
  width: 100%;
  height: 40px;
  background: #0000f9;
  color: #ffffff;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.boton1:hover {
  background: #000000;
  color: #ffffff;
}

.boton2 {
  width: 100%;
  height: 40px;
  background: #0000f9;
  color: #ffffff;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.boton2:hover {
  background: #ffffff;
  color: #000000;
}

nav {
  width: 100%;
  height: 60px;
}

nav .logo {
  background-color: #000000;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo a img {
  background-color: black;
  height: 40px;
}

header {
  padding-bottom: 50px;
}

header a {
  cursor: help;
}

@media (max-width: 800px) {
  header {
    padding-bottom: 15px;
  }
}

section.articulos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.articulos h3 {
  font-size: 4rem;
}

section.articulos .articulo1 {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.articulos .articulo1 .foto-articulo {
  padding-right: 20px;
}

section.articulos .articulo1 .foto-articulo a img {
  width: 200px;
  height: 200px;
}

section.articulos .articulo1 .texto-boton1 {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.articulos .articulo1 .texto-boton1 a {
  text-decoration: none;
  color: #000000;
}

section.articulos .articulo1 .texto-boton1 a:hover {
  color: #0000f9;
}

section.articulos .articulo1 .texto-boton1 a .texto-numero {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.articulos .articulo1 .texto-boton1 a .texto-numero .numero h2 {
  font-size: 6rem;
}

section.articulos .articulo1 .texto-boton1 a .texto-numero .texto1 h3 {
  font-size: 2.5rem;
  line-height: 40px;
}

section.articulos .articulo2 {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.articulos .articulo2 .foto-articulo {
  background: #000000;
  padding-right: 20px;
}

section.articulos .articulo2 .foto-articulo a img {
  width: 200px;
  height: 200px;
}

section.articulos .articulo2 .texto-boton2 {
  background: #000000;
  width: 550px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.articulos .articulo2 .texto-boton2 a {
  text-decoration: none;
  color: #000000;
}

section.articulos .articulo2 .texto-boton2 a .texto2 {
  background: #000000;
  padding-bottom: 20px;
}

section.articulos .articulo2 .texto-boton2 a .texto2 h3 {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  background-color: #000000;
}

section.articulos .articulo2 .texto-boton2 a .texto2 h3:hover {
  color: #0000f9;
}

section.formulario {
  width: 100%;
  height: auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.formulario div.campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.formulario div.campo label {
  margin-right: 10px;
  font-size: 1.8rem;
}

section.formulario div.campo input[type="email"] {
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid lightgrey;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

section.formulario div.campo input[type="email"]:hover {
  border-color: #b3b3b3;
}

section.formulario div.campo input[type="email"]:focus {
  border-color: #0000f9;
}

section.formulario div.campo select {
  border-radius: 5px 5px 0 0;
}

section.formulario .boton3 {
  padding-top: 10px;
}

section.formulario .boton3 input {
  background: #000000;
  color: #ffffff;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

section.formulario .boton3 input:hover {
  background: #0000f9;
}

@media (max-width: 800px) {
  section.articulos h3 {
    font-size: 3rem;
  }
  section.articulos .articulo1 {
    width: 100%;
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.articulos .articulo1 .foto-articulo {
    padding-right: 0;
    padding-bottom: 15px;
  }
  section.articulos .articulo1 .texto-boton1 {
    width: 90%;
  }
  section.articulos .articulo1 .texto-boton1 a .texto-numero {
    width: 100%;
  }
  section.articulos .articulo1 .texto-boton1 a .texto-numero .numero h2 {
    font-size: 4rem;
  }
  section.articulos .articulo1 .texto-boton1 a .texto-numero .texto1 h3 {
    font-size: 2rem;
    line-height: 30px;
  }
  section.articulos .articulo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.articulos .articulo2 .foto-articulo {
    padding-right: 0;
    padding-bottom: 20px;
  }
  section.articulos .articulo2 .texto-boton2 {
    width: 90%;
  }
  section.articulos .articulo2 .texto-boton2 a .texto2 h3 {
    font-size: 2rem;
  }
}

@media (max-width: 430px) {
  section.articulos .articulo1 .texto-boton1 a .texto-numero .numero h2 {
    font-size: 3rem;
  }
  section.articulos .articulo1 .texto-boton1 a .texto-numero .texto1 h3 {
    font-size: 1.8rem;
    line-height: 25px;
  }
  section.articulos .articulo2 .texto-boton2 a .texto2 h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  section.articulos h3 {
    font-size: 2.5rem;
  }
  section.articulos .articulo2 .texto-boton2 a .texto2 h3 {
    font-size: 1.8rem;
  }
  section.formulario {
    padding: 40px;
  }
  section.formulario div.campo label {
    font-size: 1.4rem;
  }
  section.formulario div.campo input[type="email"] {
    padding: 8px;
  }
}

footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

footer .logo-footer {
  background-color: #000000;
  padding-left: 10%;
  padding-right: 50px;
}

footer .logo-footer img {
  background-color: #000000;
  height: 75px;
}

footer .texto-footer {
  padding-right: 10%;
  background-color: #000000;
}

footer .texto-footer .texto-principal-footer {
  background-color: #000000;
  padding-bottom: 20px;
}

footer .texto-footer .texto-principal-footer p {
  background-color: #000000;
  color: #ffffff;
}

footer .texto-footer .textos-columnas-footer {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .texto-footer .textos-columnas-footer .columna {
  background-color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

footer .texto-footer .textos-columnas-footer .columna p {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 575px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .logo-footer {
    padding-bottom: 20px;
  }
  footer .texto-footer {
    padding-left: 10%;
    width: 100%;
  }
}
/*# sourceMappingURL=estilo.css.map */